@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Header Section Style  */
.header-container {
  height: 100vh;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  padding: 20px 100px 0px;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

/* Header Left Side  */
.header-section-text {
  width: 634px;
}

.header-section-title {
  margin: 0;
  color: #272727;
  font-size: 70px;
  font-weight: 800;
  line-height: normal;
}

.header-section-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.header-shop-now-btn {
  outline: none;
  border: 1px solid #e55473;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-weight: 500;
  padding: 15px 38px;
}

/* Header Right Side */
.header-photo {
  width: 450px;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}
.header-photo .header-img {
  width: 550px;
  height: 100%;
}

/* Our Featured Flowers */

.our-feature {
  width: 100%;
  padding: 100px 0px 0;
}

.feature-header-content {
  text-align: center;
  margin-bottom: 40px;
}
.freature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 0;
}
.feature-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}


.feature-box-container {
  display: flex;
  justify-content: center;
}

.feaure-box {
  width: 350px;
  margin: 0 15px;
}

.feature-box-img {
  height: 450px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.feature-box-img.left {
  background: rgba(167, 33, 98, 0.15);
}
.feature-box-img.center {
  display: flex;
  align-items: center;
  background: rgba(5, 151, 160, 0.15);
}
.feature-box-img.right {
  background: rgba(71, 125, 17, 0.15);
}

.feature-box-img img {
  width: 250px;
}

.feature-box-img-title {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  cursor: pointer;
}


/* Service Section */
.service-section-container {
    margin: 100px;
    padding: 80px 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
}

.service-box {
    text-align: center;
}

.service-box img{
    width: 90px;
    height: 90px;
}

.service-text {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

/* Hot Deal Section  */
.hot-deal-container {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 180px;
}

.hot-deal-content {
    text-align: center;
}


.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin: 5px;
}
.hot-deal-title span{
    color: #E55473;
}

.hot-deal-details {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
}

.signup-btn{
    outline: none;
    border: 1px solid #E55473;
    border-radius: 8px;
    color: #fff;
    background: #E55473;
    padding: 15px 40px;
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.signup-btn:hover {
    color: #E55473;
    background: rgba(229, 84, 115, 0.05);
    border: 1px solid #E55473;
}

/* Instagram Section */

.instagram-container {
    margin: 100px;
}

.instagram-header {
    text-align: center;
    margin-bottom: 40px;
}
.instagram-header .instagram-header-titile {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin: 0;
}

.instagram-header-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.instagram-images {
    display: flex;
    gap: 20px;
}
.instagram-images img{
    width: 24%;
    border-radius: 5px;
}





